<h1>プラン組み合わせ管理</h1>
<%= link_to '新規追加', new_admin_plan_combination_path %>

<table>
  <thead>
    <tr>
      <th>データプラン</th>
      <th>音声通話プラン</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @plan_combinations.each do |combination| %>
      <tr>
        <td><%= combination.data_plan.name %></td>
        <td><%= combination.voice_plan.name %></td>
        <td>
          <%= button_to '削除', admin_plan_combination_path(combination), method: :delete,
              data: { turbo_confirm: '本当に削除しますか？' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>